@import 'reset.less';
@import (inline) '../css/fontello.css';

body {
  font-size: 14px;
  font-family: Arial, sans-serif;
}

.cart {
  &-app {
    width: 700px;
    margin: 30px auto;
  }
  &-btn {
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 25px;
    color: #333;
    background-color: #fff;
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  &-table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #cbcbcb;
    width: 100%;
    thead {
      background-color: #e0e0e0;
      color: #000;
      text-align: left;
      vertical-align: bottom;
    }
    td, th {
      border-left: 1px solid #cbcbcb;
      font-size: inherit;
      margin: 0;
      overflow: visible;
      padding: .5em 1em;
      border-width: 0 0 1px;
      border-bottom: 1px solid #cbcbcb;
    }
  }
  &-input {
    width: 100%;
    height: 32px;
    border-radius: 4px;
    border: 1px solid #cbcbcb;
    padding: 0px 10px;
    line-height: 32px;
  }
  &-row {
    height: 30px;
    line-height: 30px;
  }
  &-col {
    min-width: 50px;
    width: 50px;
    &:first-child {
      padding: 0;
      width: 30px;
      min-width: 30px;
    }
  }
  &-right {
    text-align: right;
  }
  &-remove-btn {
    font-size: 18px;
    cursor: pointer;
  }
}